

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/dashboard/page.css}">
    <title>Add Member</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/member/stylesadd.css}">

</head>

<body>
<!-- =============== Navigation ================ -->
<div class="container">

    <div class="navigation">
        <ul>
            <li>
                <a href="">
                        <span class="icon">
                            <ion-icon name="logo-"></ion-icon>
                        </span>
                    <span class="title">LABORATOIR</span>
                </a>
            </li>

            <li>
                <a href="/dashboard">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                    <span class="title">dashboard</span>
                </a>
            </li>
            <li>
                <a href="/projects/list">
                        <span class="icon">
                            <ion-icon name="folder-outline"></ion-icon>
                        </span>
                    <span class="title">projects</span>
                </a>
            </li>
            <li>
                <a href="/members/list">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                    <span class="title">members</span>
                </a>
            </li>

            <li>
                <a href="/publications/list">
                        <span class="icon">
                            <ion-icon name="document-text-outline"></ion-icon>
                        </span>
                    <span class="title">publications</span>
                </a>
            </li>

            <li>
                <a href="/ressources/list">
                        <span class="icon">
                            <ion-icon name="folder-open-outline"></ion-icon>
                        </span>
                    <span class="title">ressources</span>
                </a>
            </li>


            <li>
                <a th:href="@{/logout}">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                    <span class="title">Sign Out</span>
                </a>
            </li>
        </ul>

    </div>

    <!-- ========================= Main ==================== -->

    <div class="main">

        <form th:action="@{/members/add}"  th:object="${member}" method="post">

        <h2>Add Member</h2>

        <div>
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName"  required>
        </div>
        <div>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>
        </div>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="Phone">Phone Number:</label>
            <input type="text" id="Phone" name="Phone" required>
        </div>


        <div>
            <!-- Sélection du rôle -->
            <label for="role">Role :</label>
            <select id="role" name="role">
                <!-- Utilisez Thymeleaf pour itérer sur la liste des rôles -->
                <option th:each="role : ${roles}" th:value="${role.id_role}" th:text="${role.rolename}"></option>
            </select>

        </div>

        <input type="submit" value="add" >
        <a href="/members/list">Back</a>
        </form>
    </div>
</div>


<!-- ====== ionicons ======= -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>








