/* Style pour la div contenant le formulaire */
.pub {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Style pour le titre */
.pub h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Style pour les labels */
.pub label {
    display: block;
    margin-bottom: 5px;
}

/* Style pour les champs de texte */
.pub input[type="text"],
.pub input[type="date"],
.pub select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style pour le bouton "add" */
.pub input[type="submit"] {
    background-color: #0d9d98;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pub input[type="submit"]:hover {
    background-color: #0d9d98;
}

/* Style pour le lien "Back" */
.pub a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}
